---
layout: default
---

<section class="home posts postindex wrapper">

	<div class="postprofile">
		<img src="{{ site.author_image }}" class="author" alt="user">
		<div class="info">
			<h4>{{ site.author_name }}</h4>
			<p>{{ site.author_bio }}</p>
		</div>
	</div>

	<div class="book">
		<a href="/weblog/full-stack-engineer/" title="Web全栈工程师的自我修养" class="book-cover">
			<img src="/files/common/full-stack-engineer-thumb.png" alt="Web全栈工程师的自我修养">
		</a>
		<div class="book-desc">
			<h2>我的书</h2>
			<p>“全栈工程师”是能独立完成一个产品的人。如果奢望在一本书中编写全栈工程师需要的一切技术知识，这本书可以写二十卷。而且，网络技术不断更新，尤其是前端标准、工具和技术，几乎每年都会完全更新一次。</p>
			<p>因此，这本书并不是全栈技术大杂烩，而是表达我在“全栈思维”上的想法。</p>
			<p><a href="/weblog/full-stack-engineer/" class="button">关于《Web全栈工程师的自我修养》</a></p>
		</div>
		
	</div>
	
	<h2>最新文章<small>（<a href="/weblog">全部博客文章</a>）</small></h2>
	<ul>
	{% for post in site.posts limit:5 %}
		<li class="post {% if post.featured == true %} featured {% endif %}">
			<a href="{{ post.url | prepend: site.baseurl }}"><span>{{ post.title }}</span><time datetime="{{ post.date | date: "%Y-%m-%d" }}">{{ post.date | date: "%B %Y" }}</time></a>
		</li>
	{% endfor %}
	</ul>

</section>


</section>