---
layout: default
keywords: [余果, yuguo]
---

<div class="profile">
	{% if site.logourl != "" %}<img src="{{ site.logourl | prepend: site.baseurl }}" class="profileimage" alt="user">{% endif %}
	<h4>{{ site.author_name }}</h4>
	<p>{{ site.author_bio }}<a href="/about">了解详情</a></p>
</div>

<section class="posts postindex wrapper">
	<ul>
	{% for post in site.posts %}
		<li class="post {% if post.featured == true %} featured {% endif %}">
			<time datetime="{{ post.date | date: "%Y-%m-%d" }}">{{ post.date | date: "%Y-%m-%d" }}</time>
			<a href="{{ post.url | prepend: site.baseurl }}"><span>{{ post.title }}</span>
				<span class="category">{% for category in post.categories %}{{ category }}{% endfor %}</span>
			</a>
		</li>
	{% endfor %}
	</ul>

</section>

</section>
