---
layout: book
---

        <div class="content-wrapper clearfix">

          <section class="main-content" role="main">
            <div class="main-content-source">
             {% for referral in site.referrals %}
                <a name="{{ forloop.index }}"></a>
                <h1>{{ referral.title }}</h1><!-- use h2 - why? why not? -->
                {{ referral.content }}
             {% endfor %}
            </div>
          </section>

          <aside id="sidr" class="aside-content" role="complementary">
            <div class="aside-wrapper">

              <div class="block table-of-contents">
                <h3>Table of Contents</h3>
                <nav role="navigation">
                  <ul>

                    <!-- was: [[ tree_to_html(data.tree) ]] -->
                    {% for referral in site.referrals %}
                      <li class="child">
                        <a href="#{{ forloop.index }}">{{ referral.title }}</a>
                      </li>
                    {% endfor %}

                  </ul>
                </nav>
              </div>

              <div class="block open-source">
                <h3>本项目开源</h3>
                <p>本电子书在 <a href="https://github.com/yuguo/yuguo.github.io/tree/master/_referral">Github</a> 上开源，欢迎star或fork。</p>
              </div>

            </div><!-- end aside-wrapper -->
          </aside>

        </div><!-- end content-wrapper -->