<header class="title">
	<a href="{{ site.baseurl }}/">{{ site.title }}</a>
</header>

<nav class="wrapper {% if page.featured == true %} featured {% endif %} {% if site.theme_always_show_nav == true %} alwaysshow {% endif %}">
	<!-- <a href="#" onclick="return false;"><i class="fa fa-navicon fa-lg"></i></a> -->
	<ul>
		<li><a href="/">首页</a></li>
		<li><a href="/about">关于</a></p>
		<li><a href="http://search.jd.com/Search?keyword=web%E5%85%A8%E6%A0%88%E5%B7%A5%E7%A8%8B%E5%B8%88%E7%9A%84%E8%87%AA%E6%88%91%E4%BF%AE%E5%85%BB&enc=utf-8">书</a></li>
	</ul>
</nav>
