.home {
	.postprofile {
		margin: 0;
		border-top:0 none;

		h4 {margin: 15px 0 0;}
		p {
			margin-top:0;
		}
	}
	.book {
	    border-bottom: 1px solid #b3b3b3;
		padding: 30px 0;
		margin-bottom:20px;
		overflow: hidden;

		.book-cover {
			width: 28%;
			float:left; 
			margin-right: 40px;
		}

		.book-cover img {
			margin:0;
		}

		.book-desc {

			overflow:hidden;
			
			p {
				margin: 5px 0;
    			font: 400 14px 'Open Sans', Serif;
    			line-height: 32px;
			}
		}
	}
	h2 {
		font-size:16px;
		margin: 0;
	}
}