<!DOCTYPE html>
  <head>
    <meta charset="utf-8">
    <title>内推项目 - {{ site.author_name }}</title>

    <!-- Styles and fonts -->
    <link rel="stylesheet" href="/assets/css/book.css">
    <link rel="shortcut icon" href="{{ "/favicon.ico" | prepend: site.baseurl }}">
    <script src="/assets/js/modernizr.js"></script>
  </head>

  <body class="index epsilon">
    <div class="page-wrapper">
      <a id="menu-toggle" class="menu-toggle" href="#sidr"><span class="bitcon-list"></span><span class="menu-toggle-text">Toggle Menu</span></a>
      <header class="page-header" role="banner">

        <a href="index.html" class="invisilink">
          {% if true %}   <!-- ['index.html'].include? current_page.path -->
            <h1 class="book-title">内推项目</h1>
          {% else %}
            <span class="book-title">内推项目</span>
          {% endif %}
        </a>
        <span class="book-author">by {{ site.author_name }}</span>
      </header>

      {{ content }}

      {% include footer.html %}

    </div><!-- end page-wrapper -->

    <!-- include scripts just before the close of the body tag -->
    <script src="//cdn.bootcss.com/jquery/1.11.0/jquery.js"></script>
    <script src="/assets/js/jquery.sidr.min.js"></script>
    <script src="/assets/js/anchor.min.js"></script>
    <script src="/assets/js/epsilon.js"></script>
  </body>
</html>