<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />

		<title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
		<meta name="description" content="{{ site.description }}" />
	  <meta name="keywords" content="{% if page.keywords %}{{ page.keywords }}{% endif %}">


		<meta name="HandheldFriendly" content="True" />
		<meta name="MobileOptimized" content="320" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />

		<link rel="alternate" type="application/rss+xml" href="{{ site.baseurl }}/feed.xml">
		<link rel="shortcut icon" href="{{ "/favicon.ico" | prepend: site.baseurl }}">
		<link rel="prefetch" href="{{ site.baseurl }}">
		<link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl }}">

		<link rel="stylesheet" href="{{ "/assets/css/screen.css" | prepend: site.baseurl }}">
		<link href="//cdn.bootcss.com/font-awesome/4.5.0/css/font-awesome.min.css" rel="stylesheet">
	</head>
	<body>

	<script type="text/javascript">
	// 配置文件
	var config = {
		'disqus_shortname': '{{ site.theme_disqus_shortname }}',
		'google_comments': {{ site.theme_google_comments }},
		'analytics_id': '{{ site.theme_analytics_id }}',
		'readingtime': {{ site.theme_reading_time }},
		'autoload_comments': {{ site.theme_autoload_comments }}
	};

	</script>

	{% include header.html %}

	{{ content }}

	{% include footer.html %}




  </body>
</html>
