---
layout: default
---

<div class="index">
	<div class="wrapper">
		<h1 class="right">{{ page.title }}</h1>
		<h2 class="left">Introduction</h2>
	</div>
</div>

<div class="profile {% if page.featured == true %} featured {% endif %}">
	{% if site.author_image != "" %}<img src="{{ site.author_image }}" class="profileimage" alt="user">{% endif %}
	<h4>{{ site.author_name }}</h4>
	<p>{{ site.author_bio }}<a href="/about">了解详情</a></p>
	<hr>
</div>


{% if page.featured == true %}
<div id="cover" class="cover featured">
	<div class="background" style="background-image:url('{{ page.banner_image }}');"></div>
	<header class="wrapper">
		<div class="feature"><span>Featured</span><i class="fa fa-bookmark fa-lg"></i></div>
		<h1 id="posttitle">{{ page.title }}</h1>
		<span>
			<a href="{{site.author_url}}" target="_blank">{{ site.author_name }}</a>
			 <i class="fa fa-clock-o"></i><time datetime="{{ page.date| date: "%Y-%m-%d" }}">{{ page.date | date: "%Y-%m-%d" }}</time>
		</span>
		<span>
			<i class="fa fa-tags" aria-hidden="true"></i>{% for category in page.categories %}{{ category }}{% endfor %}
		</span>
	</header>
	<i class="fa fa-chevron-down movedown"></i>
</div>
{% endif %}

<section class="posts wrapper">
	<article class="post {% if page.featured == true %} featured {% endif %}">

		<header>
			<div class="feature"><span>Featured</span><i class="fa fa-bookmark fa-lg"></i></div>
			<h1 id="posttitle">{{ page.title }}</h1>
			<span>
				<a href="{{site.author_url}}" target="_blank">{{ site.author_name }}</a>
				 <i class="fa fa-clock-o"></i><time datetime="{{ page.date| date: "%Y-%m-%d" }}">{{ page.date | date: "%Y-%m-%d" }}</time>
			</span>
			<span>
				<i class="fa fa-tags" aria-hidden="true"></i>{% for category in page.categories %}{{ category }}{% endfor %}
			</span>
		</header>

		<img src="{{ page.banner_image }}" class="weixin-image" />

		<section class="postbody">
			{{ content }}
			{% if page.external %}
			<p><a href="{{ page.external }}" target="_blank">原文发表于：<span class="external-link">{{ page.title }}</span></a></p>
			{% endif %}
		</section>

		<div class="postprofile">
			<img src="{{ site.author_image }}" class="author" alt="user">
			<div class="info">
				<h4>{{ site.author_name }}</h4>
				<p>{{ site.author_bio }} <a href="/about">了解详情</a></p>
			</div>
		</div>

		{% if page.comments %}
		<div class="comments">
			<a href="javascript:;" class="readmore smallbutton blue"><i class="fa fa-comments"></i>评论...</a>
			<div id="disqus_thread"></div>
			<div id="g-comments"></div>
		</div>
		{% endif %}

	</article>

</section>


	<script src="//cdn.bootcss.com/jquery/1.11.3/jquery.min.js"></script>
	<script async type="text/javascript" src="{{ "/assets/js/theme.min.js" | prepend: site.baseurl }}"></script>
