---
layout: default
---

<div class="index">
	<div class="wrapper">
		<h1 class="right">{{ page.title }}</h1>
		<h2 class="left">Introduction</h2>
	</div>
</div>

<div class="profile {% if page.featured == true %} featured {% endif %}">
	{% if site.author_image != "" %}<img src="{{ site.author_image }}" class="profileimage" alt="user">{% endif %}
	<h4>{{ site.author_name }}</h4>
	<ul>
		{% if site.medium_url != '' %}<li><a href="{{ site.medium_url }}" class="smallsocialbutton medium" target="_blank"><i class="fa fa-medium"></i></a></li>{% endif %}
		{% if site.twitter_url != '' %}<li><a href="{{ site.twitter_url }}" class="smallsocialbutton twitter" target="_blank"><i class="fa fa-twitter"></i></a></li>{% endif %}
		{% if site.500px_url != '' %}<li><a href="{{ site.500px_url }}" class="smallsocialbutton 500px" target="_blank"><i class="fa fa-500px"></i></a></li>{% endif %}
		<li><a href="{{ site.baseurl }}/feed.xml" class="smallsocialbutton rss" target="_blank"><i class="fa fa-rss"></i></a></li>
	</ul>
	<p>{{ site.author_bio }}</p>
	<hr>
</div>

{% if page.featured == true %}
<div id="cover" class="cover featured">
	<div class="background" style="background-image:url('{{ page.banner_image }}');"></div>
	<header class="wrapper">
		<h2>
			{% for category in page.categories %}
				{{ category }}
			{% endfor %}
		</h2>
		<h1>{{ page.title }}</h1>
		<span>
			Posted by <a href="{{ site.author_url }}" target="_blank">{{ site.author_name }}</a>
				on <i class="fa fa-clock-o"></i> <time datetime="{{ page.date| date: "%Y-%m-%d" }}">{{ page.date | date: "%B %-d, %Y" }}</time>.
		</span>
	</header>
	<i class="fa fa-chevron-down movedown"></i>
</div>
{% endif %}

<section class="posts wrapper">
	<article class="post {% if page.featured == true %} featured {% endif %}">

		<header>
			<div class="feature"><span>Featured</span><i class="fa fa-bookmark fa-lg"></i></div>
			<h2>
				{% for category in page.categories %}
					{{ category }}
				{% endfor %}
			</h2>
			<h1 id="posttitle">{{ page.title }}</h1>
			<span>
				Posted by <a href="{{author.website}}" target="_blank">{{ site.author_name }}</a>
				on <i class="fa fa-clock-o"></i> <time datetime="{{ page.date| date: "%Y-%m-%d" }}">{{ page.date | date: "%B %-d, %Y" }}</time>.
			</span>
		</header>

		<img src="{{ page.banner_image }}" class="weixin-image" />

		<section class="postbody">
			{{ content }}
			{% if post.external != '' %}
			<p><a href="{{ post.external }}" target="_blank">原文发表于：<span class="external-link">{{ post.title }}</span></a></p>
			{% endif %}
		</section>

		<div class="postprofile">
			<img src="{{ site.author_image }}" class="author" alt="user">
			<div class="info">
				<h4>{{ site.author_name }}</h4>
				<!-- <a href="{{ site.author_url }}">{{ site.author_url }}</a> -->
				<p>{{ site.author_bio }} <a href="/about">关于我</a></p>
				<ul class="social">
					{% if site.medium_url != '' %}<li><a href="{{ site.medium_url }}" class="twitter" target="_blank"><i class="fa fa-medium"></i></a></li>{% endif %}
					{% if site.twitter_url != '' %}<li><a href="{{ site.twitter_url }}" class="twitter" target="_blank"><i class="fa fa-twitter"></i></a></li>{% endif %}
					{% if site.500px_url != '' %}<li><a href="{{ site.500px_url }}" class="twitter" target="_blank"><i class="fa fa-500px"></i></a></li>{% endif %}
					<li><a href="{{ site.baseurl }}/feed.xml" class="rss" target="_blank"><i class="fa fa-rss"></i></a></li>
				</ul>
			</div>
		</div>

		{% if page.comments %}
		<div class="comments">
			<a href="javascript:;" class="readmore smallbutton blue"><i class="fa fa-comments"></i>评论...</a>
			<div id="disqus_thread"></div>
			<div id="g-comments"></div>
		</div>
		{% endif %}

	</article>

</section>


	<script src="//cdn.bootcss.com/jquery/1.11.3/jquery.min.js"></script>
	<script async type="text/javascript" src="{{ "/assets/js/theme.min.js" | prepend: site.baseurl }}"></script>
